@model IEnumerable<dynamic>

@{
    QLDienHoa03.Models.QL_Dien_HoaEntities data = new QLDienHoa03.Models.QL_Dien_HoaEntities();
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Detail";
    string ma = ViewBag.chitiet;
    var query = from pnk in data.PHIEUNHAPKHOes
                join ctpn in data.CHITIETPHIEUNHAPs on pnk.MAPHIEU equals ctpn.MAPHIEU
                join nl in data.NGUYENLIEUx on ctpn.MANL equals nl.MANL
                join ncc in data.NHACUNGCAPs on pnk.MANCC equals ncc.MANCC
                where pnk.MAPHIEU == ma
                select new
                {
                    pnk.MAPHIEU,
                    pnk.NGAYLAP,
                    nl.TENNL,
                    ctpn.SOLUONG,
                    ncc.TENNCC,
                    nl.GIA,
                    ncc.DIACHI,
                    ncc.SDT
                };
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- customar project  start -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
            <h2>Chi Tiết Phiếu Nhập</h2>
                <div class="row align-items-center m-l-0">
                    <div class="col-6">
                        <div id="report-table_filter" class="dataTables_filter" style="display:flex;margin-left:50%;">                          
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="report-table" class="table mb-0">
                        <thead class="thead-light">
                        <thead>
                            <tr>
                                <th>Mã Phiếu</th>
                                <th>Ngày Nhập</th>
                                <th>Tên Nguyên Liệu</th>
                                <th>Số Lượng</th>
                                <th>Tên Nhà Cung Cấp</th>
                                <th>Giá</th>
                                <th>Địa Chỉ</th>
                                <th>Số Điện Thoại</th>
                                <th>Thành Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in query)
                            {
                                <tr>
                                    <td>@item.MAPHIEU</td>
                                    <td>@item.NGAYLAP.ToString("dd-MM-yyyy")</td>
                                    <td>@item.TENNL</td>
                                    <td>@item.SOLUONG</td>
                                    <td>@item.TENNCC</td>
                                    <td>@item.GIA vnđ</td>
                                    <td>@item.DIACHI</td>
                                    <td>@item.SDT</td>
                                    <td>@(Convert.ToInt32((item.SOLUONG) * (Decimal)item.GIA)) vnđ</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "DSPhieuNhap")
                </p>
                </div>
            </div>
</div>