@model QLDienHoa03.Models.DM_Hoa

<div class="modal fade" id="detailsProduct">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                @using (Ajax.BeginForm("Details", "DanhMucHoa", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PlaceHolderHere" }))
                {
                    <div class="card">
                        <div class="text-right">
                            <div>
                                <a href="@Url.Action("Index","DanhMucHoa",new { Area="Admin"})" class="btnCancel feather feather icon-x f-30"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gx-lg-5">
                                <div class="col-xl-4 col-md-8 mx-auto">
                                    <div class="product-img-slider sticky-side-div">
                                        <div class="swiper product-thumbnail-slider p-2 rounded bg-light">
                                            <div class="swiper-wrapper">
                                                <img src="@Url.Content(Model.HinhAnh)" class="img-fluid d-block">
                                            </div>
                                        </div>
                                        <!-- end swiper thumbnail slide -->
                                    </div>
                                </div>
                                <!-- end col -->

                                <div class="col-xl-8">
                                    <div class="mt-xl-0 mt-5">
                                        <div class="text-center">
                                            <div class="flex-grow-1">
                                                <!--Ten Album-->
                                                <h4>@Html.DisplayFor(model => model.TenHoa)</h4>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="product-content mt-5">
                                        <nav>
                                            <ul class="nav nav-tabs nav-tabs-custom nav-primary" id="nav-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="nav-speci-tab" data-bs-toggle="tab" href="#nav-speci" role="tab" aria-controls="nav-speci" aria-selected="true">Thông tin</a>
                                                </li>                                                
                                            </ul>
                                        </nav>
                                        <div class="tab-content border border-top-0 p-4" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-speci" role="tabpanel" aria-labelledby="nav-speci-tab">
                                                <div class="table-responsive">
                                                    <table class="table mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="width: 200px;">Màu Sắc Chủ Đề</th>
                                                                <td>@Html.DisplayFor(model => model.MauSac)</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Giá Bán</th>
                                                                <td>@Html.DisplayFor(model => model.GiaFormatted)</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Rate</th>
                                                                <td>
                                                                    @if (Model.BangCMT.DanhGia == 4)
                                                                    {
                                                                        <p class="m-0 d-inline-block align-middle font-16">                                                                            
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star"></span>
                                                                        </p>
                                                                    }
                                                                    @if (Model.BangCMT.DanhGia == 5)
                                                                    {
                                                                        <p class="m-0 d-inline-block align-middle font-16">                                                                            
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                            <span class="text-warning feather icon-star-on"></span>
                                                                        </p>
                                                                    }
                                                                    @if (Model.BangCMT.DanhGia == null)
                                                                    {
                                                                        <p class="m-0 d-inline-block align-middle font-16">                                                                            
                                                                            <span class="text-warning feather icon-star"></span>
                                                                            <span class="text-warning feather icon-star"></span>
                                                                            <span class="text-warning feather icon-star"></span>
                                                                            <span class="text-warning feather icon-star"></span>
                                                                            <span class="text-warning feather icon-star"></span>
                                                                        </p>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- product-content -->
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card body -->
                        <div style="margin-top:-90px" class="p-5 text-right">
                            <div>
                                <a href="@Url.Action("Edit","DanhMucHoa",new { id= Model.MaHoa})" class="btn btn-dark" data-bs-placement="top" title="Edit"><i class="feather icon-edit"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>