@model IEnumerable<QLDienHoa03.Models.DM_Hoa>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    int i = 0;
    int i1 = 0;
    int R2 = 0;
}

<link href="~/assets/css/app.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap-extended.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="page-content">

    <h4 class="font-weight-bold py-3 mb-0">Sản Phẩm Đang Bán</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#!">Admin Panels</a></li>
            <li class="breadcrumb-item active"><a href="#!">Product List</a></li>
        </ol>
    </div>
    <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">
            <button class="btn btn-success btn-sm mb-3 btn-round" Onclick="Create()" data-target="#add-product"><i class="feather icon-plus"></i> Product</button>
        </div>
        <div class="col-6">
            <div id="report-table_filter" class="dataTables_filter" style="display:flex;margin-left:50%;">
                <label>Search:</label><input type="search" id="myInput" class="form-control form-control-sm ml-2" placeholder="" aria-controls="report-table">
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
        @foreach (var item in ViewBag.DM_Hoa)
        {
            <div class="col">
                <div class="card">
                    <a href="@Url.Action("Detail_List","DanhMucHoa", new { id=item.MaHoa})" class="img-thumbnail img-thumbnail-shadow">
                        <img src="@Url.Content(item.HinhAnh)" class="card-img-top" alt="..." height="400 ">
                    </a>

                    <div class="card-body">
                        <h6 class="card-title cursor-pointer text-center">@item.TenHoa</h6>
                        <div class="clearfix">
                            <p class="mb-3 fw-bold d-flex">
                                <span>
                                    <b>
                                        @{
                                            int giaGiam = 0;
                                            R2 = Convert.ToInt32(ViewBag.R2[i1]);
                                            giaGiam = (item.Gia - R2);
                                            i1++;
                                            Write(item.GiaFormat(giaGiam));
                                        }đ
                                    </b>
                                </span>
                                <span class="ml-2 text-secondary" style="text-decoration:line-through">
                                    @item.GiaFormatted đ
                                </span>
                            </p>
                        </div>
                        @if (item.DanhGia == 4)
                        {
                            <div class="d-flex justify-content-between">
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star"></span>
                                </p>
                                <p class="mb-0">Đã Bán (@ViewBag.R[i++])</p>
                            </div>
                        }
                        @if (item.DanhGia == 5)
                        {
                            <div class="d-flex justify-content-between">
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                    <span class="text-warning feather icon-star-on"></span>
                                </p>
                                <p class="mb-0">Đã Bán (@ViewBag.R[i++])</p>
                            </div>
                        }
                        @if (item.DanhGia == 0)
                        {
                            <div class="d-flex justify-content-between">
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span class="text-warning feather icon-star"></span>
                                    <span class="text-warning feather icon-star"></span>
                                    <span class="text-warning feather icon-star"></span>
                                    <span class="text-warning feather icon-star"></span>
                                    <span class="text-warning feather icon-star"></span>
                                </p>
                                <p class="mb-0">Đã Bán (0)</p>
                            </div>
                        }
                    </div>

                    <div class="d-flex align-items-center mt-3 fs-6">
                        <div class="cursor-pointer">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-secondary'></i>
                        </div>
                    </div>
                </div>
            </div>

            <!--end row-->
        }

    </div>
</div>