@model  QLDienHoa03.Models.DM_Hoa

@{
    QLDienHoa03.Models.QL_Dien_HoaEntities data = new QLDienHoa03.Models.QL_Dien_HoaEntities();
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<!-- Slider -->
<div id="thm-slideshow" class="thm-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                    <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                        <ul>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img1.jpg'>
                                <img src='~/assets3/images/slide-img1.jpg' alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                <div class="info">
                                    <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Thiết kế hiện đại</span> </div>
                                    <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Đơn giản, tinh tế</span> </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>Uy tín , chất lượng, số 1 VN</div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><a href='#' class="buy-btn">Mua Ngay</a> </div>
                                </div>
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img2.jpg'>
                                <img src='~/assets3/images/slide-img2.jpg' alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                <div class="info">
                                    <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Giảm Giá Sốc</span> </div>
                                    <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>Hoa Theo Mùa </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>Những bông hoa dại không người hái, Lặng lẽ bốn mùa khắp mọi nơi</div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><a href='#' class="buy-btn">Mua Ngay</a> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hot-deal">
                <ul class="products-grid">
                    <li class="right-space two-height item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="@Url.Action("Detail","Home", new { id="BH03"})" title="Retis lapen casen" class="product-image"> <img src="~/Image/img/Hoamaudon.jpg" alt="Retis lapen casen"> </a>
                                    <div class="hot-label hot-top-left">Hot</div>
                                    <div class="box-hover">
                                        <ul class="add-to-links">
                                            <li><a class="link-quickview" href="@Url.Action("Detail","Home", new { id="BH03"})">Detail</a> </li>
                                            <li><a class="link-wishlist" href="~/assets3/wishlist.html">Yêu Thích</a> </li>
                                            <li><a class="link-compare" href="~/assets3/compare.html">Compare</a> </li>
                                        </ul>
                                    </div>
                                    <div class="box-timer">
                                        <div class="countbox_1 timer-grid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a href="~/assets3/product_detail.html" title="Retis lapen casen"> Hoa Mẫu Đơn </a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"> <a href="~/assets3/#">1 Review(s)</a> <span class="separator">|</span> <a href="~/assets3/#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">1.000.000 Vnđ</span> </span> </div>
                                        </div>
                                        <div class="action">
                                            @*<input type="hidden" class="input-text qty" title="Qty" value="1" maxlength="12" name="qty">*@
                                            <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="BH03">Thêm vào giỏ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- end Slider -->
<!-- our features -->
<div class="our-features-box">
    <div class="container">
        <ul>
            <li>
                <div class="feature-box need-help">
                    <div class="icon-truck"></div>
                    <div class="content">FREE SHIP đơn trên 1tr5</div>
                </div>
            </li>
            <li>
                <div class="feature-box free-shipping">
                    <div class="icon-support"></div>
                    <div class="content">Cần hỗ trợ gọi  0123456789</div>
                </div>
            </li>
            <li>
                <div class="feature-box money-back">
                    <div class="icon-money"></div>
                    <div class="content">Hoàn tiền nếu sản phẩm lỗi</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box return-policy">
                    <div class="icon-return"></div>
                    <div class="content">30 ngày đổi trả</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="content-page">
    <div class="container">
        <!-- featured category fashion -->
        <div class="category-product">
            <div class="navbar nav-menu">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="new_title">
                                <h2>Sản Phẩm Mới</h2>
                            </div>
                        </li>
                        <li class="active"><a data-toggle="tab" href="#tab-1">Hoa Tỏ Tình</a> </li>
                        <li><a data-toggle="tab" href="#tab-2">Top Bán Chạy</a> </li>
                        <li><a data-toggle="tab" href="#tab-3">Hoa Buồn</a> </li>
                        <li><a data-toggle="tab" href="#tab-4">Chúc Mừng</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <div class="product-bestseller">
                <div class="product-bestseller-content">
                    <div class="product-bestseller-list">
                        <div class="tab-container">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-1">
                                <div class="category-products">
                                    <ul class="products-grid">
                                        @{
                                            int i = 0;
                                        }
                                        @foreach (var item in ViewBag.Women)
                                        {
                                            <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a class="product-image" title="Retis lapen casen" href="@Url.Action("Detail","Home", new { id=item.MaHoa})"> <img alt="Retis lapen casen" src="@Url.Content(item.HinhAnh)" height="300"> </a>
                                                            <div class="box-hover">
                                                                <ul class="add-to-links">
                                                                    <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                                    <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                                    <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="@item.TenHoa" href="product_detail.html">@item.TenHoa</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div style="width:80%" class="rating"></div>
                                                                        </div>
                                                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">@item.GiaFormatted vnđ</span> </span> </div>
                                                                </div>
                                                                <div class="action">
                                                                    <input type="hidden" class="input-text qty" title="Qty" value="1" maxlength="12" name="qty">
                                                                    <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="@item.MaHoa">Thêm vào giỏ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>



                                            i++;
                                            if (i == 4)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-2">
                                <div class="category-products">
                                    <ul class="products-grid">
                                        @{
                                            i = 0;
                                        }
                                        @foreach (var item in ViewBag.Furniture)
                                        {
                                            <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a class="product-image" title="Retis lapen casen" href="@Url.Action("Detail","Home", new { id=item.MaHoa})"> <img alt="Retis lapen casen" src="@Url.Content(item.HinhAnh)" height="300"> </a>
                                                            <div class="box-hover">
                                                                <ul class="add-to-links">
                                                                    <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                                    <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                                    <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="@item.TenHoa" href="product_detail.html">@item.TenHoa</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div style="width:80%" class="rating"></div>
                                                                        </div>
                                                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">@item.GiaFormatted vnđ</span> </span> </div>
                                                                </div>
                                                                <div class="action">
                                                                    <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="@item.MaHoa">Thêm vào giỏ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            i++;
                                            if (i == 4)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab-3">
                                <div class="category-products">
                                    <ul class="products-grid">
                                        @{
                                            i = 0;
                                        }
                                        @foreach (var item in ViewBag.Men)
                                        {
                                            <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a class="product-image" title="Retis lapen casen" href="@Url.Action("Detail","Home", new { id=item.MaHoa})"> <img alt="Retis lapen casen" src="@Url.Content(item.HinhAnh)" height="300"> </a>
                                                            <div class="box-hover">
                                                                <ul class="add-to-links">
                                                                    <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                                    <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                                    <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="@item.TenHoa" href="product_detail.html">@item.TenHoa</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div style="width:80%" class="rating"></div>
                                                                        </div>
                                                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">@item.GiaFormatted vnđ</span> </span> </div>
                                                                </div>
                                                                <div class="action">
                                                                    <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="@item.MaHoa">Thêm vào giỏ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            i++;
                                            if (i == 4)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab-4">
                                <div class="category-products">
                                    <ul class="products-grid">
                                        @{
                                            i = 0;
                                        }
                                        @foreach (var item in ViewBag.Kid)
                                        {
                                            <li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a class="product-image" title="Retis lapen casen" href="@Url.Action("Detail","Home", new { id=item.MaHoa})"> <img alt="Retis lapen casen" src="@Url.Content(item.HinhAnh)" height="300"> </a>
                                                            <div class="box-hover">
                                                                <ul class="add-to-links">
                                                                    <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                                    <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                                    <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="@item.TenHoa" href="product_detail.html">@item.TenHoa</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div style="width:80%" class="rating"></div>
                                                                        </div>
                                                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">@item.GiaFormatted vnđ</span> </span> </div>
                                                                </div>
                                                                <div class="action">
                                                                    <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="@item.MaHoa">Thêm vào giỏ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            i++;
                                            if (i == 4)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bestsell Slider -->
<section class="bestsell-pro">
    <div class="container">
        <div class="slider-items-products">
            <div class="bestsell-block">
                <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                    <div class="home-block-inner">
                        <div class="block-title">
                            <h2>Bán Siu Chạy</h2>
                        </div>
                        <div class="pretext">
                            <a title="Retis lapen casen" href="#"> <img alt="Retis lapen casen" src="~/assets3/images/offer-banner.jpg"> </a>
                            <div class="offer-text">Giảm 25% hôm nay!</div>
                        </div>
                        <a href="grid.html" class="view_more_bnt">Xem Tất Cả</a>
                    </div>
                    <div class="slider-items slider-width-col4 products-grid block-content">

                        <!-- Item -->
                        @foreach (var item in ViewBag.Furniture)
                        {
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a class="product-image" title="Retis lapen casen" href="@Url.Action("Detail", "Home", new { id = item.MaHoa })"> <img alt="Retis lapen casen" src="@Url.Content(item.HinhAnh)" height="250"> </a>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="quick_view.html">Chi Tiết</a> </li>
                                                    <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                    <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:80%" class="rating"></div>
                                                        </div>
                                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$325.00</span> </span> </div>
                                                </div>
                                                <div class="action">
                                                    <button id="addToCartButton" class="button btn-cart" title="Add to Cart" type="button" data-id="@item.MaHoa">Thêm vào giỏ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            <!-- End Item -->                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Bestsell Slider -->
<!-- bottom banner section -->
<div class="bottom-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="testi-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="avatar"><img src="~/assets3/images/member1.jpg" alt="slide3"></div>
                                    <div>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum."</p>
                                        <div class="clients_author">
                                            <a href="#" target="_blank">
                                                Karla Anderson	<span>Happy Customer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="avatar"><img src="~/assets3/images/member2.png" alt="slide3"></div>
                                    <div>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum."</p>
                                        <div class="clients_author">
                                            <a href="#" target="_blank">
                                                John Smith	<span>Happy Customer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="avatar"><img src="~/assets3/images/member3.png" alt="slide3"></div>
                                    <div>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum."</p>
                                        <div class="clients_author">
                                            <a href="#" target="_blank">
                                                Stephen Doe	<span>Happy Customer</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <a class="left carousel-control" href="#" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#" data-slide="next"> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="bottom-banner-img1">
                            <a href="#">
                                <img src="~/assets3/images/ads-02.jpg" alt="bottom banner">

                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="bottom-banner-img1">
                            <a href="#">
                                <img src="~/assets3/images/ads-03.jpg" alt="bottom banner"><span class="banner-overly"></span>

                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="bottom-banner-img1 last">
                            <a href="#">
                                <img src="~/assets3/images/ads-05.jpg" alt="bottom banner"> <span class="banner-overly"></span>
                                <div class="bottom-img-info last">
                                    <h3>up to <span>25%</span> off</h3>
                                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- featured Slider -->
<section class="featured-pro">
    <div class="container">
        <div class="slider-items-products">
            <div class="featured-block">
                <div id="featured-slider" class="product-flexslider hidden-buttons">
                    <div class="home-block-inner">
                        <div class="block-title">
                            <h2>Featured</h2>
                        </div>
                        <div class="pretext">
                            <a title="Retis lapen casen" href="#"> <img alt="Retis lapen casen" src="~/assets3/images/offer-banner1.jpg"> </a>
                            <div class="offer-text">Use Promo Fresh123</div>
                        </div>
                        <a href="grid.html" class="view_more_bnt">View All</a>
                    </div>
                    <div class="slider-items slider-width-col4 products-grid block-content">
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product8.jpg"> </a>
                                        <div class="new-label new-top-right">new</div>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:80%" class="rating"></div>
                                                </div>
                                                <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product7.jpg"> </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$235.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product6.jpg"> </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$325.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->

                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product4.jpg"> </a>
                                        <div class="new-label new-top-left">new</div>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$425.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product5.jpg"> </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$525.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product6.jpg"> </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="~/assets3/products-images/product7.jpg"> </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" href="quick_view.html">Detail</a> </li>
                                                <li><a class="link-wishlist" href="wishlist.html">Yêu Thích</a> </li>
                                                <li><a class="link-compare" href="compare.html">Compare</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:80%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$185.00</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" type="button" title="" data-original-title="Thêm Vào Giỏ"><span>Thêm Vào Giỏ</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End featured Slider -->
<!-- Latest Blog -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blog-outer-container">
                <div class="new_title">
                    <h2>Latest Blog</h2>
                </div>
                <div class="blog-inner">
                    <div class="col-lg-6 col-md-6 col-sm-6 blog-preview_item">
                        <div class="entry-thumb image-hover2"> <a href="blog_single_post.html"> <img alt="Blog" src="~/assets3/images/blog-img1.jpg"> </a> </div>
                        <div class="blog-preview_info">
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i>posted by <a href="#">admin</a> </li>
                                <li><i class="fa fa-comments"></i><a href="#">8 comments</a> </li>
                                <li><i class="fa fa-calendar"></i>2018-02-24 12:25:18</li>
                            </ul>
                            <h4 class="blog-preview_title"><a href="blog_single_post.html">Standard blog post with photo</a></h4>
                            <div class="blog-preview_desc">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips.</div>
                            <a class="blog-preview_btn" href="blog_single_post.html">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 blog-preview_item">
                        <div class="entry-thumb image-hover2"> <a href="blog_single_post.html"> <img alt="Blog" src="~/assets3/images/blog-img2.jpg"> </a> </div>
                        <div class="blog-preview_info">
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i>posted by <a href="#">admin</a> </li>
                                <li><i class="fa fa-comments"></i><a href="#">4 comments</a> </li>
                                <li><i class="fa fa-calendar"></i>2018-01-07 09:05:49</li>
                            </ul>
                            <h4 class="blog-preview_title"><a href="blog_single_post.html">Standard blog post with photo</a></h4>
                            <div class="blog-preview_desc">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.</div>
                            <a class="blog-preview_btn" href="blog_single_post.html">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Latest Blog -->
<!-- Brand Logo -->

<div class="brand-logo">
    <div class="container">
        <div class="slider-items-products">
            <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">

                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo1.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo3.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo4.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo5.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo6.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="~/assets3/images/b-logo4.png" alt="Image"> </a> </div>
                    <!-- End Item -->

                </div>
            </div>
        </div>
    </div>
</div>
