@model QLDienHoa03.Models.PhieuDat

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    List<SelectListItem> items = new List<SelectListItem>
{
    new SelectListItem { Text = "Đã giao", Value = "1" },
    new SelectListItem { Text = "Chưa giao", Value = "0" },
    // Thêm các mục khác nếu cần
};
    ViewBag.DaGiao = new SelectList(items, "Value", "Text");
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">Phiếu Đặt Hàng</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#!">Transation</a></li>
            <li class="breadcrumb-item active"><a href="#!">Phiếu Đặt</a></li>
        </ol>
    </div>
    <div class="row">
        <!-- customar project  start -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center m-l-0">
                        <div class="col-sm-6 text-left">
                            <button class="btn btn-success btn-sm mb-3 btn-round" Onclick="Create()" data-target="#add-product"><i class="feather icon-plus"></i> Product</button>
                        </div>
                        <div class="col-6">
                            <div id="report-table_filter" class="dataTables_filter" style="display:flex;margin-left:50%;">
                                <label>Search:</label><input type="search" id="myInput" class="form-control form-control-sm ml-2" placeholder="" aria-controls="report-table">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="report-table" class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Số Phiếu</th>
                                    <th>Tên Người Gửi</th>
                                    <th>Tên Người Nhận</th>
                                    <th>Địa Chỉ Người Nhận</th>
                                    <th>Ngày Giao</th>
                                    <th> Giờ Giao</th>
                                    <th>Đã Giao</th>
                                    <th>Tên Hoa</th>
                                    <th>Tên Khu Vực</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var item in ViewBag.phieuDat)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            @item.SoPhieu
                                        </td>
                                        <td class="align-middle">
                                            @item.TenNguoiGui
                                        </td>
                                        <td class="align-middle">
                                            @item.TenNguoiNhan
                                        </td>
                                        <td class="align-middle">
                                            @item.DiaChiNguoiNhan
                                        </td>
                                        <td class="align-middle">
                                            @item.NgayGiaoFormatted
                                        </td>

                                        <td class="align-middle">
                                            @item.GioGiao
                                        </td>
                                        <td class="align-middle">
                                            @if (item.DaGiao == 1)
                                            {
                                                <span class="badge badge-success">Done</span>
                                            }
                                            @if (item.DaGiao == 0)
                                            {
                                                <span class="badge badge-danger">SOS</span>
                                            }
                                        </td>
                                        <td>
                                            @item.DM_Hoa.TenHoa
                                        </td>
                                        <td>
                                            @item.GiaPhiVanChuyen.TenKhuVuc
                                        </td>
                                        <td class="table-action">
                                            <a href="#!" class="btn btn-icon btn-outline-primary"><i class="feather icon-eye"></i></a>
                                            <a href="@Url.Action("Edit","PhieuDat",new { id=item.SoPhieu})" class="btn btn-icon btn-outline-success"><i class="feather icon-edit"></i></a>
                                            <a href="#" class="btn btn-icon btn-outline-success" id="showModal" onclick="Confirm('@item.SoPhieu')"><i class="feather icon-trash-2"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="ProductId" />
                    </div>
                </div>
            </div>
        </div>
        <!-- customar project  end -->
    </div>
</div>


<div class="modal fade" id="add-product">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> Thêm mới </h2>
            </div>
            <div class="modal-body ">
                <form id="createForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Name">Số Phiếu</label>
                                @Html.TextBoxFor(model => model.SoPhieu, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Category">Sản Phẩm</label>
                                @Html.DropDownListFor(model => model.Hoa, (SelectList)ViewBag.Hoa, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">  
                            <div class="form-group">
                                <label class="floating-label" for="Price">Tên Người Gửi</label>
                                @Html.TextBoxFor(model => model.TenNguoiGui, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Quantity">Tên Người Nhận</label>
                                @Html.TextBoxFor(model => model.TenNguoiNhan, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="floating-label" for="Icon">Địa Chỉ Người Nhận</label>
                                @Html.TextBoxFor(model => model.DiaChiNguoiNhan, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="floating-label" for="Icon">Khu Vực</label>
                                @Html.DropDownListFor(model => model.KhuVuc, (SelectList)ViewBag.KhuVuc, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="floating-label" for="Icon">Ngày Giao</label>
                                @Html.TextBoxFor(model => model.NgayGiao, new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="floating-label" for="Icon">Giờ Giao</label>
                                @Html.TextBoxFor(model => model.GioGiao, new { @class = "form-control", type = "time" })
                            </div>
                        </div>

                        @*<div class="col-sm-6">
                                <label class="switcher">
                                    <input type="checkbox" class="switcher-input" checked>
                                    <span class="switcher-indicator">
                                        <span class="switcher-yes"></span>
                                        <span class="switcher-no"></span>
                                    </span>
                                    <span class="switcher-label">Active</span>
                                </label>
                            </div>*@
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="custom-control custom-checkbox m-0">
                                    <!-- Sử dụng CheckBoxFor để tạo checkbox liên kết với thuộc tính DaGiao trong mô hình -->
                                    @Html.CheckBoxFor(model => model.YourPropertyBool, new { @class = "custom-control-input", id = "DaGiaoCheckbox" })
                                    @Html.HiddenFor(model => model.DaGiao, new { id = "DaGiao" })
                                    <span class="custom-control-label">Đã Giao</span>
                                </label>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                // Sự kiện khi checkbox thay đổi trạng thái
                                $('#DaGiaoCheckbox').change(function () {
                                    // Nếu checkbox được chọn, gán giá trị 1 cho hidden field
                                    // Ngược lại, gán giá trị 0
                                    if ($(this).is(':checked')) {
                                        $('#DaGiao').val('1');
                                    } else {
                                        $('#DaGiao').val('0');
                                    }
                                });
                            });
                        </script>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary">Lưu</button>
                <a href="#" class="btn btn-danger btnCancel">Close</a>
            </div>
        </div>
    </div>
</div>

@*modal xóa*@
<div class="modal fade" id="deleteproduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> create </h2>
            </div>
            <div class="modal-body">
                <h3>Are you sure about that ?</h3>
            </div>
            <div class="modal-footer">
                <div class="">
                    <a href="#" id="btnDelete" class="btn btn-primary"> Xóa</a>
                    <a href="#" class="btn btn-danger btnCancel">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
        $(document).on("click", "#btnSave", function () {
            var productFormData = $("#createForm").serialize();
            $.ajax({
                type: "POST",
                url: "/PhieuDat/SaveProduct",
                data: productFormData,
                success: function () {
                    window.location.href ="/Admin/PhieuDat/Index";
                }
            });            
            window.location.href = "/Admin/PhieuDat/Index";
        });

        $(".btnCancel").click(function () {
            window.location.href = "/Admin/PhieuDat/Index";
        });


        $("#btnDelete").click(function () {
            var _id = $("#ProductId").val();
            $.ajax({
                type: "POST",
                url: "/PhieuDat/Delete",
                data: { id: _id },
                success: function (result) {
                    if (result) {
                        $("#deleteproduct").modal('hide');
                        $("#ProductId").val(null);
                        window.location.href = "/Admin/PhieuDat/Index";
                    } else {
                        alert("Thất bại");
                    }
                }
            });
        });
    });

    var Confirm = function (id) {
        $("#ProductId").val(id);
        $("#deleteproduct").modal('show');
    }
    var Create = function () {
        $("#add-product").modal('show');
    }

    $(document).ready(function () {
        // Xử lý sự kiện khi nhấn vào nút "Edit"
        $("body").on("click", ".edit-product", function () {
            var productId = $(this).data("product-id");
            $.ajax({
                type: "GET",
                url: "/PhieuDat/EditProduct?id=" + productId,
                success: function (response) {
                    // Nạp PartialView vào modal
                    $("#edit-product-modal .modal-content").html(response);
                    // Hiển thị modal
                    $("#edit-product-modal").modal("show");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>